[Unit]
Description=OpenSSH authentication agent for %I

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent-%i.socket
ExecStart=/usr/bin/ssh-agent -D -t 300 -a "$SSH_AUTH_SOCK"

[Install]
WantedBy=default.target
