/*

!/.gitignore
!/.zsh*
!/.zprofile
!/.bashrc
!/.profile
!/.commonenv
!/.commonrc

!/.vim
/.vim/*

!/.vim/vimrc
!/.vim/colors
/.vim/colors/*

!/.vim/colors/snazzy.vim

!/.config
/.config/*

!/.config/nvim
/.config/nvim/*

!/.config/nvim/init.vim
!/.config/nvim/colors
/.config/nvim/colors/*

!/.config/nvim/colors/snazzy.vim
