# Ignore everything by default
/*

# .gitignore
!/.gitignore

# various dotfiles
!/.pam_environment
!/.commonenv
!/.commonrc
!/.zsh*
!/.zprofile
!/.bashrc
!/.profile
!/.tmux.conf

# .vim/vimrc
!/.vim
/.vim/*

!/.vim/vimrc

# .vim/colors/snazzy.vim
!/.vim/colors
/.vim/colors/*

!/.vim/colors/snazzy.vim

# .config
!/.config
/.config/*

# .config/nvim/init.vim
!/.config/nvim
/.config/nvim/*

!/.config/nvim/init.vim

# .config/nvim/colors/snazzy.vim
!/.config/nvim/colors
/.config/nvim/colors/*

!/.config/nvim/colors/snazzy.vim

# .config/systemd/user/*.service
!/.config/systemd
/.config/systemd/*

!/.config/systemd/user
/.config/systemd/user/*

!/.config/systemd/user/*.service

# .ssh/config
!/.ssh
/.ssh/*

!/.ssh/config
